@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#block {

    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#QR {
    width: 80%;
    padding: 25px;
    border-radius: 40px;
}

#negrito {

    color: hsl(218, 44%, 22%);

    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 20px;
    
}

#description {

    padding: 30px;
    font-weight: 400;
    font-size: small;
    color: hsl(216, 15%, 48%);


    font-family: "Roboto", serif;
}